<div *ngIf="recipe" class="mt-5 ms-5">
  <div class="row">
    <div class="col-md-12">
      <img [src]="recipe.getImagePath()" alt="{{ recipe.getName() }}" class="img-responsive">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>{{ recipe.getName() }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" ngbDropdown>
        <button type="button" class="btn btn-primary" ngbDropdownToggle id="ddm1">
          Manage Recipe
        </button>
        <ul ngbDropdownMenu aria-labelledby="ddm1">
          <li><a ngbDropdownItem (click)="toShoppingList()">To Shopping List</a></li>
          <li><a ngbDropdownItem>Edit Recipe</a></li>
          <li><a ngbDropdownItem>Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-12">
      <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle" id="ddm1">
          Manage Recipe
        </button>
        <ul class="dropdown-menu" aria-labelledby="ddm1">
          <li><a href="#" class="dorpdown-item">To Shopping List</a></li>
          <li><a href="#" class="dorpdown-item">Edit Recipe</a></li>
          <li><a href="#" class="dorpdown-item">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      {{ recipe.getDescription() }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ing of recipe.getIngredients()">
          {{ ing.name }} - {{ ing.amount }}
        </li>
      </ul>
    </div>
  </div>
</div>
